<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pops Confectionary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="#FG3434" >

    <div class="container" style="width:100%">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
    <div class="carousel-inner" style="width:100% !important">
    <div class="item active">
        <img src="~/Content/Images/landing.jpg" alt="Pops Confectionary" >
        <div class="carousel-caption" style="top: 50%; transform: translateY(-50%);">
            <h2 style="font-size:45px">Welcome to</h2>
            <h1 style="font-size:85px">Pops Confectionary</h1>
        </div>
       </div>
        <div class="item" style="width:100% !important">
            <img src="~/Content/Images/landing1.jpg" alt="Doughnuts" >
            <div class="carousel-caption" style="top: 50%; transform: translateY(-50%);">
                <h2 style="font-size:45px">Freshly Baked</h2>
                <h1 style="font-size:85px">Everyday</h1>
            </div>
        </div>
        <div class="item" style="width:100% !important">
            <img src="~/Content/Images/landing2.jpg" alt="Brownies">
            <div class="carousel-caption" style="top: 50%; transform: translateY(-50%);">
                <h2 style="font-size:45px">Since</h2>
                <h1 style="font-size:85px">1969</h1>
            </div>
        </div>
      </div>


    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    </div>

    <div style="text-align:center">

    <h2 > Welcome to Pops Confectionary</h2>
    <br />
    <p>Pops Confectionary is located in the heart of Durban, in Berea. The bakery was established in 1969 and provided their customers with sweet treats to tickle their tastebuds.  Serving the community for over 48 years, the bakery has remained a family run operation the entire time.  All goods are made fresh every day, and if you have any special requests or questions, feel free to contact us!

We pride ourselves in giving our clients the best products created with passion and love by our amazing staff. We hope to provide great service and try hard to meet your requirements. </p>
        </div>
</body>
</html>
